html,
body {
  height: 100%;
}

body {
  font-family: "Barrio", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
}

.nounphrase {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bigtext {
  text-align: center;
  padding: 5px 30px;
  font-size: 96pt;
}

.rotated {
  transform: rotate(180deg);
}
